<p id="notice"><%= notice %></p>

<p>
  <b>Source type:</b>
  <%= @step2.source_type %>
</p>

<p>
  <b>Source location:</b>
  <%= @step2.source_location %>
</p>

<p>
  <b>Data sample:</b>
  <%= @step2.data_sample %>
</p>

<p>
  <b>Source info:</b>
  <%= @step2.source_info %>
</p>

<p>
  <b>Multiple source:</b>
  <%= @step2.multiple_source %>
</p>


<%= link_to 'Edit', edit_step2_path(@step2) %> |
<%= link_to 'Back', step2s_path %>
